[2018-03-22 15:35] cecchisandrone opened #2 "Docker build failing"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Building docker image  returns:
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

1. Run `docker build

[2018-03-22 22:27] cjimti commented on #2
@cecchisandrone Thanks for the report. I'll try to reproduce it tonight. Is it possible you are having network trouble.

Are you able to `curl -I https://github.com/bhoriuchi/go-bunyan` on the pi and get data?

[2018-03-22 22:35] cecchisandrone commented on #2
Yes, just tried it.

Sent from iPhone 8

Il 22 mar 2018, 23:27 +0100, Craig Johnston <notifications@github.com>, ha scritto:

[2018-03-22 23:15] cjimti commented on #2
I'll try figure out why the `go get` command is failing. However I will also update the source in a bit and include the dependencies so `go get` will not be needed.

[2018-03-22 23:54] cjimti commented on #2
Seems to be working on my development pi. I'm suspecting that it might be docker and it's network.
[![docker build](https://asciinema.org/a/JpjCNohu4VRBAy3yyZefaeura.png)](https://asciinema.org/a/JpjCNohu4VRBAy3yyZefaeura)

Can you try `docker run --rm -it arm32v7/golang:1.9 /bin/sh -c "go get github.com/bhoriuchi/go-bunyan/bunyan` (should simply return without error)

Or shell directly into the c

[2018-03-23 00:25] #2 closed

[2018-03-23 00:28] cjimti commented on #2
@cecchisandrone the build no longer needs to run `go get`

[2018-03-23 07:18] cecchisandrone commented on #2
@cjimti, build fails again with the same error:
[code]
If I run `docker run --rm -it arm32v7/golang:1.9 /bin/sh -c "go get github.com/bhoriuchi/go-bunyan/bunyan"` I receive return code 139.
These are the output of commands you requested:
[code]

Anyway I'm pretty sure that everything is due to Rpi B+ that is ARMv6.

[2018-03-23 08:21] cecchisandrone commented on #2
I solved using arm32v6/golang:alpine. No I have HostAPD error due to missing driver:
`"HOSTAPD GOT: Line 13: invalid/unknown driver 'rtl871xdrv'`
I have to check better.

[2018-03-23 16:32] cjimti commented on #2
My image will only run on a pi 3 (arm v7) and using the nl80211 driver (with the onboard wifi). I plan to make another public image for the Pi 2 and allow the interface and driver to be configured but it will be a week or so as I am swamped with work at the moment.

In the output you sent it looks like it is having trouble parsing the config. Did you mount the config?
[see IOT Wifi Configuration](

[2018-03-23 16:58] cecchisandrone commented on #2
I used the command line you suggest:

docker run --rm --privileged --net host \
      -v $(pwd)/wificfg.json:/cfg/wificfg.json \
      cjimti/iotwifi

After having edited wificfg.json. It seems that config is parsed correctly but HostAPd fails to run due maybe to a wrong configuration for the USB dongle used.

[2018-03-23 17:10] cjimti commented on #2
@cecchisandrone thanks for the update. Looks like you are running an  original Pi Model B+. I'll see if I can dig one up around here and also look into supporting more drivers.

This looks interesting [Hostapd driver for RTL8188{C|CU|CUS} wifi chips](https://github.com/pritambaral/hostapd-rtl871xdrv).

I'll put out a release soon with the ability specify the driver in the config, in your case driv

[2018-03-23 17:17] cjimti commented on #2
If you want to hard code it in the source for testing you can find where the driver should be specified
[here](https://github.com/cjimti/iotwifi/blob/7ed6e9aaab22d9af522dd5331c3b59c93cecbc8f/iotwifi/commands.go#L55) and [here](https://github.com/cjimti/iotwifi/blob/7ed6e9aaab22d9af522dd5331c3b59c93cecbc8f/iotwifi/wpacfg.go#L92) adding `driver=rtl871xdrv` to the hostapd configuration.

[2018-03-23 17:25] cecchisandrone commented on #2
Great, I'll give a try. I just tried modifying wpacfg.go. Thanks

[2018-03-23 17:46] cecchisandrone commented on #2
This is the output now:
[code]

[2018-03-23 18:01] cjimti commented on #2
@cecchisandrone yeah invalid/unknown driver 'rtl871xdrv'. need to get
[rtl871xdrv](https://github.com/pritambaral/hostapd-rtl871xdrv) driver installed.

[2018-03-23 18:03] cjimti commented on #2
...but a rebuild hostapd will also be needed. So I'll take a look at it this weekend. Would be nice to have a version that runs on older Pis.

[2018-03-23 18:08] cecchisandrone commented on #2
Cool, thanks for this. Useless to say how many times in IOT projects this task is done, doing that with your approach is really smart and simple.

[2018-03-24 15:47] cecchisandrone opened #3 "Add disconnect endpoint."
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
Killing the iotwifi container, keeps WIFI ssid visible, probably some processes stay alive.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible

[2018-03-24 15:59] cecchisandrone opened #4 "wlan0 doesn't get IP after successful connect API call"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
After calling connect API call with successful result, wlan0 doesn't get an IP address and traffic can't flow to the gateway.

* **If the current behavior is a bug, please provide the s

[2018-03-24 18:42] Nate0611 opened #5 "Clients cannot access internet once connected"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
  - [* ] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the cur

[2018-03-24 20:20] cjimti commented on #5
@Nate0611 thanks for the report, however this is really a feature not a bug when it comes to this project. The main requirement for many IOT projects is to allow wifi configuration (think Nest or Amazon Echo) and not provide network access beyond the local device. This project attempts to help solve that issue for RPI developers. Forwarding network traffic is not too difficult, but it will never h

[2018-03-24 20:31] cjimti commented on #3
@cecchisandrone The container configures the host network on the device, so that part is purposely not isolated, nor can it be since we are dealing with the physical wifi device on the Pi. It's the Pi's wifi device that is "connected" so when the container goes away it has not effect on the host network, which is usually a good thing since it avoids disruption on events like container restarts or

[2018-03-24 21:18] cjimti commented on #4
@cecchisandrone this could be something as simple dhcp not running properly on the host. I'll write up some debug steps tonight or tomorrow. I have also not tested on a Pi Zero W, but I have one so I'll test it.

[2018-03-25 06:43] cecchisandrone commented on #4
Thanks. Do you think there are some prerequisites on the host on the networking configuration apart from disabling wpa_supplicant?

[2018-03-25 06:47] cecchisandrone commented on #3
It could be useful having some optional parameter in the container that can be used to revert initial condition if it is terminated. I agree with you that in general container restarts should’t affect current network setup.

[2018-03-25 06:49] cecchisandrone commented on #3
Is there also a disconnect API call?

[2018-03-25 06:58] cjimti commented on #3
The only requirement should be basic networking. Can you run `sudo dhclient wlan0 -v` and see if you can force it to get an IP address. It's possible that it is not properly connected.

There is no disconnect API call but you are welcome to submit an enhancement issue that I can assign the next release.

[2018-03-25 08:39] cecchisandrone commented on #3
This comment is related to #4 ...I answered there.

[2018-03-25 09:08] cecchisandrone commented on #4
@cjimti running sudo dhclient wlan0 -v makes it work:
[code]
I searched into the code but there is no `dhclient` call. Should it be done automatically by wpa_supplicant?

[2018-03-25 13:24] cecchisandrone commented on #5
I tried
[code]
but it doesn't work. Is there something am I missing?

[2018-03-25 15:24] cjimti commented on #4
There is no call since this was originally for the Pi 3 which as wired ethernet and hdcp is already handling eth0 by default. Sound like this could be another feature request for the next version which I plan to support more operating environments and devices. It's good to hear that you are connected!

[2018-03-25 16:05] cecchisandrone commented on #4
What about routes changes needed?

[2018-03-25 17:49] cjimti commented on #4
The device itself should have no DNS issues as that would be resolved with the DHCP, however, routing from the uap0 to wlan0 is going to need some work to do it properly with DNS. The current use case is to only allow wifi network configuration and not act as a router/wifi repeater, but I do see demand for that, it's just not a great solution specifically for the Pi since the onboard wifi is not t

[2018-03-25 18:40] cjimti commented on #3
@cecchisandrone  Usefull commands for resetting state.

- `iw dev uap0 del` will remove the virtual interface used for the AP.
- `ifconfig wlan0 down` will bring down the station interface

If you don't have these commands on your local machine you can execute them in the container.

`docker run -it --rm CONTAINER sh`

[2018-03-26 06:58] cecchisandrone commented on #4
Yes, I agree about performances, but imagine scenarios in which you deploy a IoT network, where Rpi is used as router / gateway for smart devices or sensors. This is very useful because you test everything abstracting the connectivity and everything can work seamlessly in every network you are (hopefully :)).

[2018-04-08 01:48] cjimti commented on #5
@cecchisandrone I'm going to be making some updates in a 2.0 version soon. I'm thinking about allowing the Dnsmasq conf to be entirely overwritten if desired. I think it will need a default state, but for those who need something specific, they could just pass a full config to it.

[2018-04-08 06:28] cjimti commented on #5
Yes, however, it's going to take a couple of weeks since I am behind on professional projects at the moment. I started an Enhancements project in this repository and added this issue.

[2018-04-08 10:11] suiluj opened #6 "Raspberry Pi 3 Model B+ (New Release March 2018) supported?"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* **Please tell us about your environment:**

  - Device: Raspberry Pi 3 Model B+ (Release March 2018)

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. stackoverflow, gitter, etc)

Is this software working on the n

[2018-04-08 15:42] suiluj opened #7 "Cannot connect to client wifi network of router"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [x] support request

* **What is the current behavior?**

I cannot connect to my existing wifi at home (or smartphone hotspot) even if the api scan shows the network.
I am able to connect to the raspberrypi accesspoint point though.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible

[2018-04-08 23:37] cjimti commented on #6
It should work fine on the new B+. I have a couple coming in next week and will report my results. If you test it before I do I would love to know your findings. However, I don't see a reason for it to fail since the architecture is mostly unchanged.

[2018-04-08 23:37] #6 closed

[2018-04-08 23:41] cjimti commented on #7
Have you tried another network? Other than a bad password or weak wifi signal there is not a lot to the connection part of the process since that is handed off to wap_supplicant.

[2018-04-09 07:50] suiluj commented on #6
ah ok thanks. i know most components are the same but because of the new wifi (with ac standard and so on) i was not sure.
i will report my results when i get one of the new raspberry pi 3b+

[2018-04-09 07:57] cjimti commented on #6
@suiluj I should have a b+ by Thursday the 12th. Looking forward to testing it. Hope it works for you. I am working on a few improvements for version 2. Ensuring it works on b+ will be part of that.

[2018-04-09 08:10] suiluj commented on #7
i tried two networks which i already was able to connect to before (the new raspbian stretch way by copying the connection config file on the sd.

[code]

For testing i used a complete clean raspbian stretch (tried both full version and lite)
Connected via ssh over lan cable and followed your "Getting Started" instructions step by step.

Only thing i noticed was an small error when installing dock

[2018-04-09 15:48] suiluj commented on #5
I was able to create the client + AP behaviour including ipforward for internet connection by following this very good tutorial:
[https://github.com/peebles/rpi3-wifi-station-ap-stretch](https://github.com/peebles/rpi3-wifi-station-ap-stretch)

it shows the iptables config and i think something similar should work here too.

[2018-04-09 15:54] suiluj commented on #6
@cjimti thanks a lot! I really like your special approach with the API for scanning and connecting to wifi by sending and receiving JSON messages. That's very useful in a clustered network with remote control possibilities.

[2018-04-13 18:48] opgbaudouin commented on #7
Same issue here - Tried 3 different WiFi all with simple WPA2 and PSK and although i can connect to the device's AP and list the wifi, any attempt fails with same message. No issue doing this manually on same type of RPI (also Raspian Stretch 2018-03-13m with RPI 3 Model B (no plus)...

I get messages like EAPOL - EAP Session-Id is not available

[2018-04-13 18:55] cjimti commented on #7
@opgbaudouin thanks for the report. It seems there is a circumstance where the interface gets into a bad state. I have not been able to reproduce this on my devices.

I need to write up some debugging steps this weekend to help me find the issue.

[2018-04-13 20:56] Elpiojo83 opened #8 "pkill wpa_supplicant"
* **I'm submitting a ...**
  - [x] bug report
Strange behaviour on Raspberry Pi 3 B, I need to call these commands after every reboot:

# prevent wpa_supplicant from starting on boot
$ sudo systemctl mask wpa_supplicant.service

# kill any running processes named wpa_supplicant
$ sudo pkill wpa_supplicant

Otherwise I couldn’t connect to the Pi. Which is a little uncomfortable, because if I need t

[2018-04-13 20:58] Elpiojo83 commented on #8
OMG Sorry for the mess I didn’t see the prefilled text on my mobile.

[2018-04-13 22:26] cjimti commented on #8
@Elpiojo83 no problem. This is not really a bug in this software. pkill should just stop any named process running. `sudo systemctl mask wpa_supplicant.service`  hides the service from the startup process. There are a number of ways to prevent wpa_supplicant from starting, you can also just uninstall it, it all depends on the operating system you are running.

[2018-04-13 22:26] #8 closed

[2018-04-14 22:11] mitchhh22 commented on #5
Anyone figure out the correct workaround steps to get client internet access?
I tried a few combinations of the recommended above but nothing did the trick.

[2018-04-18 02:55] tom472 opened #9 "Hide the SSID"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

Thanks for this Docker Container it's pretty much doing exactly what I need it to do.
However, I am looking to hide the SSID that I am broadcasting with this container but I am a little unsure if that configuration is set via the mounted `wpa_supplicant.conf` file or if it is set via `hostapd`.

If it is

[2018-04-18 06:12] cjimti commented on #9
@tom472 I'm glad to hear that it has been useful to you. The hostapd configuration is generated by the application. I am planning on releasing a version 2 in the next couple of week which will allow more control over the wpa_supplicant, dnsmasq and hostapd along with some iptables support.

Essentially you need to set ignore_broadcast_ssid=1 for hostapd, however, the current version does not suppo

[2018-04-20 19:24] Elpiojo83 commented on #7
Same here. Attaching logfile just in case that it helps.
[iotwifi.log](https://github.com/cjimti/iotwifi/files/1933371/iotwifi.log)

[2018-04-20 19:35] cjimti commented on #7
@Elpiojo83 are you sure wpa_supplicant is not running on the host device?

[2018-04-21 23:06] tom472 commented on #9
@cjimti Awesome thanks for the info/update.
I'll keep my eye out for version 2.

Thanks

[2018-04-28 20:30] fredrikgisslen commented on #7
Hi, I have the sam problem. Can't find the reason to it

[2018-05-02 21:19] krzysztofantczak commented on #5
Guys, it depends on how UAP interface is created. If it comes directly from wlan0 interface, ie.
[code]
and wifi channels match on hostapd and client network (which is required anyway;  at least on pi zero) - it should work out of the box, without iptables.

[2018-05-10 18:04] erggor opened #10 "Support Оrange pi PC+"
Hello
You can add support for Orange pi PC +.
I'm ready for the test.

[2018-05-15 09:08] T-vK opened #11 "Raspberry Pi Zero W compatibility"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

Hello,
I'm very much interested in seeing this working on a Raspberry Pi Zero W.
Will you add support for that?

[2018-05-16 03:45] cjimti commented on #11
@T-vK A few months ago I had it working on a Pi Zero, however, I don't remember if I had to make any adjustments. I don't see a reason why it would not. Did you run into a problem?

[2018-05-16 06:53] T-vK commented on #11
I haven't tried it yet. I just assumed it would only work on the 3B and 3B+. I'll report back when I have tried it.

[2018-05-16 06:56] cecchisandrone commented on #11
@T-vK see issue #2. I managed to run on Rpi Zero W, you just need to change the base image to an armv6 one.

[2018-05-16 07:01] cjimti commented on #11
@cecchisandrone after your previous bug report I created the image arm32v6-1.0.4. Thanks

@T-vK use the image cjimti/iotwifi:arm32v6-1.0.4

[2018-05-16 07:01] #11 closed

[2018-05-16 07:08] T-vK commented on #11
Awesome. :) It would be nice to have this information in the Readme.

[2018-05-19 10:07] T-vK opened #12 "Container keeps crashing"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

I have a Raspberry Pi 3 Model B and a Raspberry Pi 3 Model B+.
And I flashed `2018-04-18-raspbian-stretch-lite.img` to the Micro SD cards of both of them (using Etcher).
Both Pis should host an AP and one Pi should connect the other Pis AP while the other Pi should connect to my home WiFi. The docker con

[2018-05-19 22:12] cjimti commented on #12
@T-vK I'll take a more in-depth look at your logs later tonight or tomorrow when I have more free time. However, in the meantime double check that wpa_supplicant is not running on the host. I saw a report that `systemctl mask wpa_supplicant.service` did not prevent it from starting on some installations.

Another thing to do is set the container to `--restart unless-stopped`. There are conditions

[2018-05-20 12:08] T-vK commented on #12
I just tried it again from scratch and I noticed that the behavior on the Pi 3b and Pi 3b+ differs. It doesn't work on both of them, but maybe for different reasons. I made some edits to the original post adding separate logs for each Pi. Also, I actually did run the commands with `--restart=unless-stopped`, I should have copy pasted it sorry.

About the wpa_supplicant. I checked on both Pis while

[2018-05-20 17:41] T-vK commented on #12
I just tested it on a Pi Zero W V1.1 as well and the result was pretty much the same as with the Pi 3b. (Container keeps running, but gives massive amounts of log output and doesn't actually connect to my WiFi or host an AP.) Here is the log for the Zero W 1.1:
[rpizw11.log](https://github.com/cjimti/iotwifi/files/2020513/rpizw11.log)

For this Pi I first had to connect to my WiFi the normal non-d

[2018-05-20 17:55] cjimti commented on #12
@T-vK I can confirm that it works on Pi 2, 3b and 3b+ since I have over 800 3b and a few dozen 3b+ Pis running for a client. However, I don't use the n00ds distro so it's possible that something changed since I wrote the tutorial. It looks to me that you set it up correctly but it's hard to know what is going on with the host. I assume it set up the host network correctly?

Also, If I understand y

[2018-05-20 17:55] #12 closed

[2018-05-20 18:15] T-vK commented on #12
I've never heard of the n00ds distro. I am using the Raspbian Stretch Lite image as provided on the official website: https://www.raspberrypi.org/downloads/raspbian/ (I'm using the 2018-04-18 version)

I'm not sure if the host network was set up correctly, but I don't think so. The hosted AP of the Pi 3 does show up when I do a WiFi scan, but I cannot connect to it with any device, it just fails e

[2018-05-22 11:58] T-vK commented on #12
@cjimti Have you looked at the logs yet? Any ideas what could be wrong? Can you test it on one of your devices with Raspbian Stretch Lite?

[2018-05-23 00:10] cjimti commented on #12
@T-vK Sorry I did not see anything I'll install Raspbian Stretch Lite on a device and check it out. Unfortunately, my work has been slammed at the moment working late nights and early mornings so I might not be able to do it until this weekend. The only other thing I could say at the moment would be to completely remove wap_supplicant from the device to ensure that there is no way can interfere.

[2018-05-24 19:10] cjimti commented on #12
After a quick test on one of my devices using a Raspian image, I noticed that wpa_supplicant is fired up not only on boot (but you removed that) but also when the interface is brought up. I don't know if the same thing is happening to you, but if so, you can simply remove wpa_supplicant from the host altogether.

I still plan to install Raspian Lite this weekend and take another look.

[2018-05-24 21:32] T-vK commented on #12
I just tested it on my Pi 3b+ by renaming the executable using `sudo mv /sbin/wpa_supplicant /sbin/wpa_supplicant.bkp`. But it was still not working.
I did however make an interesting observation: I accidentally misspelled the SSID of my home WiFi so that the Pi couldn't connect. When that happened, the hosted AP of that Pi actually worked. I was able to connect to it with my Android phone and was

[2018-05-30 11:42] manwegit commented on #5
There's couple of problems with the current setup, if used as wifi gw (e.g. with eth0 )
Here's quick and dirty start cmd I use to get it running with my Pi3+
[code]
This will start iotwifi with "wifi" name (referenced later). Set iptables masquerading and allows packets to go through.
Waits for the dnsmasq to start. Then kills it inside the container and start dnsmasq with --no-resolve option.

Af

[2018-05-31 14:08] NO-ob opened #13 "Raspberry Pi Zero W"
* **I'm submitting a ...**
  - [x? ] bug report
  - [ ] feature request
  - [x ] support request

* **Do you want to request a *feature* or report a *bug*?**
Not sure if a bug or not as i dont know if the pi zero w is supported.

* **What is the current behavior?**
I followed your guide up to this part

docker run --rm --privileged --net host \
      -v $(pwd)/wificfg.json:/cfg/wificfg.json \

[2018-05-31 17:11] cjimti commented on #13
@NO-ob using the arm6 image is necessary on the zero and older pies
cjimti/iotwif:arm32v6-1.0.4

[2018-05-31 17:11] #13 closed

[2018-06-05 12:39] T-vK commented on #12
Hey @cjimti have you found some time to take another look at it?

[2018-06-06 03:10] cjimti commented on #12
@T-vK Unfortunately I am 100% committed to a work project for the next month. I did, however, download Raspian Lite and ran it on a Pi 3 b+. I noticed that masking wap_supplicant is definitely not sufficient since upping the wlan0 interface causes it to start on the host. I see however that you renamed the file, and that should work. After removing wpa_supplicant from the host I was having trouble

[2018-06-19 07:25] debayanbhattacharya opened #14 "localhost:8080/connect api issue from iOS Device"
* **I'm submitting a ...**
  - [x] bug report

**DESCRIPTION:**
There is a bug in the localhost:8080/connect. I am calling the API _http://192.168.27.1:8080/connect_ from my iOS app. The data is being sent exactly like how it's shown in the documentation. The raspberry pi connects to my home wifi however the api does not give any response. It times out.

**ERROR: The API successfully connects the

[2018-06-19 08:26] #14 closed, assigned to nobody

[2018-06-19 08:46] debayanbhattacharya commented on #14
Sorry for the erroneous title. I meant to say that I connect to the Raspberry pi's wifi and hit the api. I'll do one thing. I'll forget the home wifi network in my iPhone and try it. Will let you know how it goes.

[2018-06-19 12:34] debayanbhattacharya commented on #14
Hey @cjimti I have tried it with the android and the iOS app. I made sure the devices  could only connect to Raspberry's wifi. I went ahead and disabled the mobile data in both the devices. Weirdly enough, the api did give me a successful response once but the remaining times I hit the request, it timed out.

[2018-07-04 11:46] GvKosinberg opened #15 "Addditional info in README.md"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* **Do you want to request a *feature* or report a *bug*?**
request for README.md additions

* **What is the current behavior?**
Phones can connect to Rpi only if the container started manually (because of DHCPCD i think)

* **If the current behavior is a bug, please provide the steps to reproduce and if

[2018-07-07 21:50] diverjoe commented on #5
Same problem - here are some more observations.
1.)  This is a GREAT thing that you have done here.    Thanks!
2.)  There are more recent changes to how supplicant and hostapd does their thing which is likely the pain you feel.
3.)  Oh yea, I'm not not a networking or linux expert  - so no advice from me - ha!
4.)  Based on the items in the issues regarding the wpa...service, I added the following

[2018-07-24 15:01] breandan opened #16 "Add Docker Hub auto-builder"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**

Request a feature.

* **What is the current behavior?**

Docker Hub images are [static binaries](https://hub.docker.com/r/cjimti/iotwifi/). It would be nice to support Docker Hub auto-builds, linked to the [Dockerfile](https://github.com/cjimti

[2018-07-24 21:28] breandan opened #17 "How do I set a default WiFi network for station mode?"
I can set a default WiFi SSID and PSK for AP mode, but how do I configure the station mode WiFi credentials?

[2018-07-24 21:41] breandan commented on #17
Should I just use the `wifi_supplicant.conf`? This is not described in the readme.

[2018-07-24 22:42] cjimti commented on #17
yes wifi_supplicant.conf is the place.
https://wiki.archlinux.org/index.php/WPA_supplicant

[2018-07-24 22:43] #17 closed

[2018-07-26 06:06] #15 closed

[2018-07-26 14:21] breandan commented on #17
I'm having some trouble configuring the default network via `wpa_supplicant.conf`. It broadcasts the AP WiFi, but does not connect to the default network, using the same wpa_supplicant configuration that worked previously. I have disabled `wpa_supplicant` using the [readme instructions](https://github.com/cjimti/iotwifi#disable-wpa_supplicant-on-raspberry-pi).

[2018-07-26 14:31] breandan commented on #17
Note I am able to connect using the REST interface, but the default `wpa_supplicant.conf` fails to join the network (this is my [`wificfg.json`](https://github.com/duckietown/scripts/blob/f36ccb31eb2f81c1bddf0321bdb51c25dea3dbf6/docs/DuckieOS1-RPI3Bp.sh#L270:L285)).

[2018-08-01 09:28] cecchisandrone opened #18 "Clients lose connection from AP"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* **What is the current behavior?**
After  some time, apparently randomly, the clients get disconnected and if they try to connect again to the AP, they receive bad password error. There are no logs regarding HOSTAPD.

* **If the current behavior is a bug, please provide the steps to reproduce and if pos

[2018-08-05 00:10] chrsjhnsn opened #19 "Could you add WEP support?"
* **I'm submitting a ...**
  - [🙅‍♂️] bug report
  - [✅] feature request
  - [🙅‍♂️] support request

* **Do you want to request a *feature* or report a *bug*?**

It is a *feature*.

* **What is the current behavior?**

WPA-2 Encryption

* **What is the expected behavior?**

A configuration option to use WEP encryption instead.

* **What is the motivation / use case for changing the behavior?**

I'

[2018-08-16 18:44] breandan commented on #17
PEBCAK. I forgot to mount the `wpa_supplicant.conf` into the container. Added instructions to the readme in case anyone else forgets to do this...

[2018-08-16 19:03] breandan opened #21 "Bridge/repeater mode?"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [X] support request

* **Do you want to request a *feature* or report a *bug*?**

I have a question.

* **What is the current behavior?**

When I connect to the RPi running in AP+Station mode using my laptop, I cannot access the internet from the RPi, even though the RPi itself has access to the internet via station mode. I

[2018-08-20 13:43] kevinkm opened #22 ""post wifi credentials" ,this part can't work on openwrt with shadowsocks"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

I tried several times, it can't connect my router which has shadowsocks, or has a very unstable connection, I have to say it works in few chance, but when I reboot RPI, obviously no automatically connect, if

[2018-08-20 13:45] kevinkm commented on #22
Oh ,it seems like the docker works well on openwrt without shadowsocks.

[2018-09-06 07:38] davidknezic commented on #21
This would make it possible to connect to a wifi with a captive portal. 👍

[2018-09-06 07:49] cjimti commented on #21
I this would be a great addition. However, at the moment I only use it for IOT configuration, think Nest or Alexa, so I don't have a pressing need. It should be some simple rules for iptables. If you want work on it I would be happy to review any pull requests for inclusion. Otherwise, it will probably be another month before I can start working on this project again.

[2018-09-06 08:16] davidknezic commented on #21
Fantastic, I'll look into this.

By the way, thank you for making `iotwifi`! It works perfectly and the instructions are exceptional. It only took me a couple of minutes to set it up and make my candy dispenser configurable! Great experience ✨

[2018-09-09 23:31] breandan commented on #21
Duplicates #5, closing.

[2018-09-09 23:31] #21 closed

[2018-09-11 16:23] breandan opened #23 "Raspberry Pi 3B+ support?"
Has anyone tried using this on the RPi 3B+ and experienced issues with intermittent or limited connectivity? Currently debugging some issues with the WiFi support and having difficulty establishing a stable connection on these boards. Thanks!

[2018-09-11 18:57] breandan commented on #23
I think this might somehow be related to raspberrypi/linux#2453...

[2018-09-12 07:56] cjimti commented on #23
I have about ~100 of them running on 3B+ and ~150 on 3B. I do get faulty wifi on some of them but have not noticed a difference in B and B+. About 3-5 of them were unable to connect until given a different access point. Since these units are run by non-technical people in various locations it has been difficult for me to determine why some access points are problematic.

For the units that are sta

[2018-09-12 08:47] breandan commented on #23
Thanks for the feedback! To clarify, I am noticing connectivity issues between other devices and the RPi 3B+ in the access point configuration, not between the RPi and the router. Is this the same configuration you are running on the 3B+?

[2018-09-12 21:15] cjimti commented on #23
I see... Yes, my devices only use AP for a short time after first boot to configure their connection to the router. I do notice that AP is unstable after a while but unclear what would be causing it. I'll take a deeper look at https://github.com/raspberrypi/linux/issues/2453 . Thanks for posting that.

[2018-09-22 22:59] keith24 opened #24 "Troubleshooting when uap0 isn't created"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [X] support request

* **Do you want to request a *feature* or report a *bug*?**

Report a bug or get help

* **What is the current behavior?**

[code]

Then running `ifconfig` doesn't show uap0.

[code]

I have two wireless interfaces, if that could be part of the problem.

[code]

* **If the current behavior is a bug, plea

[2018-10-12 07:48] cjimti commented on #5
"What's the necessity of connecting the rpi to a network if it's not going to share that connection? "

@Aaronik I am sorry to hear that you are shocked. I am sorry I did not make it more clear that the intention of this project is only to provide the ability to operate as a station and AP simultaneously for the purposes of configuration. Everyone has different networking needs and there are many

[2018-10-12 07:53] cjimti commented on #24
@keith24 Sorry I have been traveling a lot for work lately and have not had much time to check up on this project. Have you tried disconnecting the other interface? Are you able to manually create virtual interfaces?

[2018-10-13 02:46] Aaronik commented on #5
Ok - I've moved on, and just to follow up with your post @breandan, the next container I tried, https://github.com/sdelrio/rpi-hostap, is working flawlessly so far. I can't speak to long term reliability, but it is working for me in the beginning. I'm writing this post connected to my rpi which has an eth0 connection to my home router, and is broadcasting the wifi signal over wlan0 using hostap.

[2018-10-13 02:50] #5 closed

[2018-10-15 04:30] chansdad opened #25 "Raspberry Pi 3 B+"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ x] support request

* **Do you want to request a *feature* or report a *bug*?**
None

* **What is the current behavior?**
Client is not able to authenticate and connect to the iot-wifi-cfg-3. Seeing authentication problem

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2018-10-15 04:41] chansdad commented on #25
Strangely enough , now i am able to connect , not sure what happened , a restart might have worked.

[2018-10-15 04:41] #25 closed

[2018-10-15 14:32] chansdad opened #26 "Unable to assign custom SSID"
* **I'm submitting a ...**
  - [x ] bug report
  - [ ] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**

Reporting a Bug

* **What is the current behavior?**
When SSID is changed from the default SSID , docker run command as per the documentation when executed does not start properly

* **If the current behavior is a bug, please provide the steps

[2018-10-25 02:46] smartmirrorkits commented on #14
Hi @cjimti, first off thanks a lot for creating this project, it is exactly what I've been looking for to bootstrap wifi connections for raspberry PIs!  I'm seeing the behavior referenced in your comment above (momentary disconnecting from the PI after calling connect and having the pi successfully connect to a network).  I can likely work around the timeout by doing some sort of forced refresh in

[2018-10-27 22:54] keith24 commented on #24
@cjimti No problem... I've been travelling myself and finally got a decent wifi connection to try this out.

I physically disconnected the dongle and saw it disappear from ifconfig.  But when I ran the docker container uap0 was still not created.

I rebooted with the dongle detached and _then_ it worked, creating uap0.

I plugged it back in and restarted.  Then I was able to create a new virtual i

[2018-10-27 23:19] keith24 commented on #24
At least, that's the command I got when I googled "Add a virtual interface linux"

I see in [iotwifi/commands.go#L39](https://github.com/cjimti/iotwifi/blob/cd9dc046bc0b92d1343bdc6ca178e8285ad0eba3/iotwifi/commands.go#L39) that the command iotwifi uses is `iw phy phy0 interface add uap0 type __ap`.  So let's try that after rebooting with the dongle **un**plugged:

[code]

And plugged in:

[code]

[2018-11-03 15:54] bcopy opened #27 "Can uap0 and wlan0 be bridged ?"
* I'm submitting a  **feature request**
* **What is the current behavior?** : when connecting a device to the Raspberry Pi access point on uap0, there does not seem to be a bridge between uap0 and wlan0, so the connected device cannot route trafic through the Raspberry Pi access point's WLAN0 connection.

* **Steps to reproduce the problem**

1. Ensure the IOT Wifi has an Internet connection on Wl

[2018-11-03 15:55] bcopy commented on #27
possible duplicate of #21

[2018-11-14 03:32] keith24 commented on #24
Haven't tested yet (and I won't be able to for a minute), but according to the [iw manpage](https://linux.die.net/man/8/iw), it might work to use `iw phy#0` instead of `iw phy phy0`, if I'm reading it correctly.

[2018-11-14 07:02] cjimti commented on #24
@keith24 Thank you for researching this. I have not encountered this problem, but it does look like you are using a much newer version of Raspian. Looking forward to your test results. Also if you would like to submit a pull request I am open to any contributions.

[2018-11-15 21:36] keith24 commented on #24
OK.  I made [the change](https://github.com/keith24/iotwifi/commit/68cf8cc5ea5f602abbe9318ac431e076ceb8fede).  What docker build flags should I use?  I'm new to docker.

[2018-11-16 00:53] cjimti commented on #24
@keith24 to test the build simply  `docker build -t somename .` if you want to put it on hub.docker.com you will need to tag it something like  USERNAME/iotwifi:VERSION then do a `docker push USERNAME/iotwifi:VERSION`

[2018-11-16 03:07] keith24 commented on #24
OK, it still didn't create `uap0`.  And I could have probably saved time by just running
[code]
right in the shell.  I did that and still got the same error, `command failed: No such device (-19)`.

The first google results for the error yielded [this answer on superuser SE](https://superuser.com/a/605664/579353), which inspired me to check if virtual interfaces are supported by my device:

[code]

[2018-11-16 03:07] #24 closed

[2018-11-22 05:41] DJNoblesse opened #28 "Cannot save connected WIFI information into wpa_supplicant.conf"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**
Report a Bug

* **What is the current behavior?**
Cannot save connected WIFI information into wpa_supplicant.conf

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

1. ru

[2018-11-22 07:54] cjimti commented on #28
It does not write the wpa_supplicant.conf, it stores the network in the wpa_supplicant network interface. Network configurations should survive a reboot. This is technically not a bug and the intended design.

[2018-11-22 07:54] #28 closed

[2018-11-26 12:21] jbrepogmailcom opened #29 "Cool but why do I need Ethernet"
This is great tutorial. May I have a suggestion?

This configuration requires additional hardware, an Ethernet cable. It is a bit not logical to deal with WiFi configuration while there is a need for cable.

I would recommend to download all packages first and then turn off the wpa_supplicant. I would also recommend to put all steps into simple shell script, so Raspberry could be configured over s

[2018-11-26 15:59] cjimti commented on #29
There are no explicit requirements for an ethernet cable, however, this project installs docker images so you need to be connected to the internet somehow. Once you have installed the software you no longer need an internet connection.

[2018-12-01 20:39] mateuszdrab opened #30 "dnsmasq resolves any query to IP of uap0"
* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**
I'd like a new feature to allow specifying upstream DNS server/honouring existing configured DNS servers of wlan0.

* **What is the current behavior?**
dnsmasq resolves any query to IP of uap0, there is no option to specify an upstream server fo

[2018-12-02 04:56] cjimti commented on #30
@mateuszdrab see the dnsmasq_cfg section of the configuration, this is where you change this. However, this project is not meant to be a bridge. "The main use case for this project is to reproduce functionality common to devices like Nest or Echo, where the user turns on the device, connects to it and configures it for wifi."

[2018-12-02 04:56] #30 closed

[2018-12-02 05:13] #29 closed

[2018-12-02 05:14] #27 closed

[2018-12-02 05:17] cjimti commented on #16
If I open this project in the future I will consider this.

[2018-12-02 05:17] #16 closed

[2018-12-02 05:18] #3 closed

[2018-12-02 05:18] #9 closed

[2018-12-02 05:19] #22 closed

[2018-12-02 05:19] #19 closed

[2018-12-02 05:20] #23 closed, assigned to nobody

[2019-01-28 06:07] cjimti commented on #18
There may be a solution to this issue however more research needs to be done to understand why WPA supplicant is prone to failure after a time. Any work on this in the future should be done on the txn2 fork. https://github.com/txn2/txwifi

Thanks

[2019-01-28 06:07] #18 closed

[2019-01-28 06:08] cjimti commented on #10
It would be great to see this working on an Orange pi.  Any work on this in the future should be done on the txn2 fork. https://github.com/txn2/txwifi

Thanks

[2019-01-28 06:08] #10 closed